.business-owner {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.business-owner .div {
  background-color: #ffffff;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.business-owner .group {
  height: 41px;
  left: 152px;
  position: absolute;
  top: 27px;
  width: 1137px;
}

.business-owner .logo {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 168px;
}

.business-owner .img {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.business-owner .text-wrapper {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  white-space: nowrap;
}

.business-owner .navbar {
  height: 16px;
  left: 400px;
  position: absolute;
  top: 12px;
  width: 311px;
}

.business-owner .text-wrapper-2 {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.business-owner .text-wrapper-3 {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 109px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.business-owner .text-wrapper-4 {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 183px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.business-owner .text-wrapper-5 {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 244px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.business-owner .sign-in {
  height: 41px;
  left: 1030px;
  position: absolute;
  top: 0;
  width: 109px;
}

.business-owner .overlap-group {
  background-color: #4e7e99;
  border-radius: 50px;
  height: 41px;
  position: relative;
  width: 107px;
}

.business-owner .text-wrapper-6 {
  color: #ffffff;
  font-family: "Sansation-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.business-owner .text-wrapper-7 {
  color: #000000;
  font-family: "Sansation-Bold", Helvetica;
  font-size: 28px;
  font-weight: 700;
  left: 151px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.business-owner .group-2 {
  height: 18px;
  left: 152px;
  position: absolute;
  top: 201px;
  width: 162px;
}

.business-owner .text-wrapper-8 {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 81px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.business-owner .star {
  height: 14px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 14px;
}

.business-owner .star-2 {
  height: 14px;
  left: 15px;
  position: absolute;
  top: 1px;
  width: 14px;
}

.business-owner .star-3 {
  height: 14px;
  left: 30px;
  position: absolute;
  top: 1px;
  width: 14px;
}

.business-owner .star-4 {
  height: 14px;
  left: 45px;
  position: absolute;
  top: 1px;
  width: 14px;
}

.business-owner .star-5 {
  height: 14px;
  left: 60px;
  position: absolute;
  top: 1px;
  width: 14px;
}

.business-owner .rectangle {
  height: 176px;
  left: 152px;
  object-fit: cover;
  position: absolute;
  top: 250px;
  width: 1137px;
}

.business-owner .overlap {
  background-color: #f0f0f0;
  height: 376px;
  left: 152px;
  position: absolute;
  top: 435px;
  width: 371px;
}

.business-owner .there-aren-t-enough {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 103px;
}

.business-owner .text-wrapper-9 {
  color: #000000;
  font-family: "Sansation-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  white-space: nowrap;
}

.business-owner .group-3 {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 40px;
  width: 162px;
}

.business-owner .vector {
  height: 1px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 74px;
  width: 320px;
}

.business-owner .div-wrapper {
  background-color: #000000;
  border-radius: 5px;
  height: 48px;
  left: 26px;
  position: absolute;
  top: 306px;
  width: 319px;
}

.business-owner .text-wrapper-10 {
  color: #ffffff;
  font-family: "Sansation-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 97px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.business-owner .overlap-2 {
  background-color: #f0f0f0;
  height: 376px;
  left: 535px;
  position: absolute;
  top: 435px;
  width: 371px;
}

.business-owner .lorem-ipsum-dolor {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 46px;
}

.business-owner .overlap-wrapper {
  height: 48px;
  left: 26px;
  position: absolute;
  top: 306px;
  width: 321px;
}

.business-owner .overlap-3 {
  background-color: #000000;
  border-radius: 5px;
  height: 48px;
  position: relative;
  width: 319px;
}

.business-owner .text-wrapper-11 {
  color: #ffffff;
  font-family: "Sansation-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 145px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.business-owner .overlap-4 {
  background-color: #f0f0f0;
  height: 376px;
  left: 918px;
  position: absolute;
  top: 435px;
  width: 371px;
}

.business-owner .mask-group {
  height: 129px;
  left: 24px;
  position: absolute;
  top: 50px;
  width: 324px;
}

.business-owner .group-4 {
  height: 18px;
  left: 26px;
  position: absolute;
  top: 263px;
  width: 126px;
}

.business-owner .text-wrapper-12 {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.business-owner .image {
  height: 18px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 18px;
}

.business-owner .group-5 {
  height: 32px;
  left: 22px;
  position: absolute;
  top: 222px;
  width: 103px;
}

.business-owner .text-wrapper-13 {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}

.business-owner .mask-group-2 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.business-owner .group-6 {
  height: 19px;
  left: 26px;
  position: absolute;
  top: 188px;
  width: 196px;
}

.business-owner .p {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}
