.business-owner-view {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.business-owner-view .div {
  background-color: #ffffff;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.business-owner-view .text-wrapper {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 152px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 164px;
  white-space: nowrap;
}

.business-owner-view .text-wrapper-2 {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 1147px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 164px;
  white-space: nowrap;
}

/* ROW 1 */

.business-owner-view .business-0 {
  height: 272px;
  left: 154px;
  position: absolute;
  top: 261px;
  width: 274px;
}

.business-owner-view .business-1 {
  height: 272px;
  left: 440px;
  position: absolute;
  top: 261px;
  width: 274px;
}

.business-owner-view .business-2 {
  height: 272px;
  left: 728px;
  position: absolute;
  top: 261px;
  width: 274px;
}

.business-owner-view .business-3 {
  height: 272px;
  left: 1015px;
  position: absolute;
  top: 261px;
  width: 274px;
}

/* ROW 2 */

.business-owner-view .business-4 {
  height: 272px;
  left: 154px;
  position: absolute;
  top: 545px;
  width: 274px;
}

.business-owner-view .business-5 {
  height: 272px;
  left: 440px;
  position: absolute;
  top: 545px;
  width: 274px;
}

.business-owner-view .business-6 {
  height: 272px;
  left: 728px;
  position: absolute;
  top: 545px;
  width: 274px;
}

.business-owner-view .business-7 {
  height: 272px;
  left: 1015px;
  position: absolute;
  top: 545px;
  width: 274px;
}

/* ROW 3 */

.business-owner-view .business-8 {
  height: 272px;
  left: 154px;
  position: absolute;
  top: 830px;
  width: 274px;
}

.business-owner-view .business-9 {
  height: 272px;
  left: 440px;
  position: absolute;
  top: 830px;
  width: 274px;
}

.business-owner-view .business-10 {
  height: 272px;
  left: 728px;
  position: absolute;
  top: 830px;
  width: 274px;
}

.business-owner-view .business-11 {
  height: 272px;
  left: 1015px;
  position: absolute;
  top: 830px;
  width: 274px;
}

/* ROW 4 */

.business-owner-view .business-12 {
  height: 272px;
  left: 154px;
  position: absolute;
  top: 1115px;
  width: 274px;
}

.business-owner-view .business-13 {
  height: 272px;
  left: 440px;
  position: absolute;
  top: 1115px;
  width: 274px;
}

.business-owner-view .business-14 {
  height: 272px;
  left: 728px;
  position: absolute;
  top: 1115px;
  width: 274px;
}

.business-owner-view .business-15 {
  height: 272px;
  left: 1015px;
  position: absolute;
  top: 1115px;
  width: 274px;
}

.business-owner-view .overlap {
  /* background-image: url(https://media.newyorker.com/photos/64526e8287ae684cabca2c9c/16:9/w_1280,c_limit/Chayka-Mario.jpg); */
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 10px;
  height: 272px;
  position: relative;
  width: 272px;
}

.business-owner-view .img {
  height: 47px;
  left: 225px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 47px;
}

.business-owner-view .text-wrapper-3 {
  color: #ffffff;
  font-family: "Sansation-Bold", Helvetica;
  font-size: 28px;
  font-weight: 700;
  left: 8px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 237px;
  white-space: nowrap;
}

.business-owner-view .overlap-wrapper {
  height: 272px;
  left: 441px;
  position: absolute;
  top: 261px;
  width: 274px;
}

.business-owner-view .overlap {
  background-image: url(https://media.newyorker.com/photos/64526e8287ae684cabca2c9c/16:9/w_1280,c_limit/Chayka-Mario.jpg);
  background-position: 50% 50%;
  background-size: cover;
  height: 272px;
  position: relative;
  width: 272px;
}

.business-owner-view .overlap-group-wrapper {
  height: 272px;
  left: 728px;
  position: absolute;
  top: 261px;
  width: 274px;
}

.business-owner-view .overlap-2 {
  background-image: url(https://media.newyorker.com/photos/64526e8287ae684cabca2c9c/16:9/w_1280,c_limit/Chayka-Mario.jpg);
  background-position: 50% 50%;
  background-size: cover;
  height: 272px;
  position: relative;
  width: 272px;
}

.business-owner-view .add {
  height: 336px;
  left: 1015px;
  position: absolute;
  top: 207px;
  width: 274px;
}

/* .business-owner-view .overlap-3 {
  height: 336px;
  position: relative;
  width: 272px;
} */

.business-owner-view .rectangle {
  background-color: #c4c4c4;
  border-radius: 10px;
  box-shadow: inset 0px 0px 20px 10px #00000033;
  height: 272px;
  left: 0;
  position: absolute;
  /* top: 54px; */
  width: 272px;
}

.business-owner-view .text-wrapper-4 {
  color: #00000033;
  font-family: "Sansation-Bold", Helvetica;
  font-size: 300px;
  font-weight: 700;
  left: 66px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -50px;
  white-space: nowrap;
}
