
.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .div-2 {
  background-color: #ffffff;
  height: 1626px;
  position: relative;
  width: 1440px;
}

.home .text-wrapper-7 {
  color: #000000;
  font-family: "Sansation-Bold", Helvetica;
  font-size: 60px;
  font-weight: 700;
  left: 581px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 137px;
  white-space: nowrap;
}

/* Style for the search input */
.home .search-input {
  background-color: #ffffff;
  font-family: "Sansation-Regular", Helvetica;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #00000040;
  height: 57px;
  width: 701px; /* Adjust the width to fit your design */
  padding: 0 20px; /* Add some padding for text input */
  font-size: 18px; /* Adjust the font size */
  position: absolute;
  top: 286px;
  left: 319px;
}

/* Style for the search button */
.home .search-button {
  background-color: #acf0ff;
  font-family: "Sansation-Regular", Helvetica;
  border: none;
  border-radius: 50px;
  height: 49px;
  width: 99px; /* Adjust the width to fit your design */
  font-size: 14px; /* Adjust the font size */
  position: absolute;
  top: 290px;
  left: 951px; /* Adjust the left position to place the button properly */


}


.home .image {
  height: 41px;
  left: 23px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 41px;
}

.home .overlap-group-wrapper {
  height: 49px;
  left: 694px;
  position: absolute;
  top: 4px;
  width: 101px;
}

.home .div-wrapper {
  background-color: #acf0ff;
  border-radius: 50px;
  height: 49px;
  position: relative;
  width: 99px;
}

.home .text-wrapper-8 {
  color: #000000;
  font-family: "Sansation-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.home .rectangle {
  height: 500px;
  left: 1314px;
  object-fit: cover;
  position: absolute;
  top: 492px;
  width: 126px;
}

.home .rectangle-2 {
  height: 500px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 492px;
  width: 119px;
}

.home .rectangle-3 {
  height: 500px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 492px;
  width: 1175px;
}

.home .text-wrapper-9 {
  color: #000000;
  font-family: "Sansation-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 152px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1135px;
  white-space: nowrap;
}

.home .text-wrapper-10 {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 152px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1174px;
  white-space: nowrap;
}

.home .group-2 {
  height: 272px;
  left: 153px;
  position: absolute;
  top: 1213px;
  width: 1141px;
}

.home .overlap {
  background-image: 
    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdGF1cmFudHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
  background-position: 50% 50%;
  background-size: cover;
  height: 272px;
  left: 0;
  position: absolute;
  top: 0;
  width: 272px;
}

.home .text-wrapper-11 {
  color: #ffffff;
  font-family: "Sansation-Bold", Helvetica;
  font-size: 28px;
  font-weight: 700;
  left: 8px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 237px;
  white-space: nowrap;
}

 .home .overlap-2 {
  /* background-image: url(./rectangle-13.png); */
  background-image: 
    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1596178060810-72f53ce9a65c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZmFtaWx5JTIwaG90ZWx8ZW58MHx8MHx8fDA%3D&w=1000&q=80");
  background-position: 50% 50%;
  background-size: cover;
  height: 272px;
  left: 287px;
  position: absolute;
  top: 0;
  width: 272px;
}

.home .overlap-3 {
  /* background-image: url(./rectangle-14.png); */
  background-image: 
    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1572116469696-31de0f17cc34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8YmFyfGVufDB8fDB8fHww&w=1000&q=80");
  background-position: 50% 50%;
  background-size: cover;
  height: 272px;
  left: 574px;
  position: absolute;
  top: 0;
  width: 272px;
}

.home .overlap-4 {
  background-image: 
    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1611154046036-cd91e50978be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8bW91bnRhaW5lZXJpbmd8ZW58MHx8MHx8fDA%3D&w=1000&q=80");
  background-position: 50% 50%;
  background-size: cover;
  height: 272px;
  left: 861px;
  position: absolute;
  top: 0;
  width: 272px;
} */

.home .group-5 {
  left: 152px !important;
  position: fixed !important;
  top: 27px !important;
}

@import 'swiper/css'
