.sign-in {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sign-in .div {
  background-color: #ffffff;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.sign-in .create-account {
  height: 761px;
  left: 110px;
  position: absolute;
  top: 163px;
  width: 1222px;
}

.sign-in .overlap-group {
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 0px 0px 74px #00000040;
  height: 761px;
  position: relative;
  width: 1220px;
}

.sign-in .group {
  height: 415px;
  left: 108px;
  position: absolute;
  top: 173px;
  width: 400px;
}

.sign-in .headline {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 400px;
}

.sign-in .text-wrapper {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.sign-in .input-field {
  align-items: center;
  border: 1px solid;
  border-color: #00000066;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  height: 60px;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  top: 124px;
  width: 400px;
}

.sign-in .text-wrapper-2 {
  color: #00000066;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sign-in .div-wrapper {
  align-items: center;
  border: 1px solid;
  border-color: #00000066;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  height: 60px;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  top: 208px;
  width: 400px;
}

.sign-in .text-button {
  align-items: center;
  background-color: #000000;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 60px;
  justify-content: space-around;
  left: 0;
  padding: 0px 64px;
  position: absolute;
  top: 324px;
  width: 400px;
}

.sign-in .text-wrapper-3 {
  color: #ffffff;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sign-in .description-link {
  align-items: flex-start;
  display: flex;
  gap: 4px;
  left: 0;
  position: absolute;
  top: 400px;
  width: 400px;
}

.sign-in .div-wrapper-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
}

.sign-in .text-wrapper-4 {
  color: #00000066;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sign-in .text-wrapper-5 {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.sign-in .overlap {
  /* background-image: url(./rectangle-1.png); */
  background-position: 50% 50%;
  background-size: cover;
  height: 728px;
  left: 610px;
  position: absolute;
  top: 15px;
  width: 593px;
}

.sign-in .we-re-here-to-give {
  color: #ffffff;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 34px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 619px;
  width: 501px;
}

.sign-in .logo-wrapper {
  height: 40px;
  left: 152px;
  position: absolute;
  top: 27px;
  width: 166px;
}

.sign-in .logo {
  height: 40px;
  position: relative;
  width: 168px;
}

.sign-in .img {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.sign-in .text-wrapper-6 {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  white-space: nowrap;
}
