.user-business-view {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.user-business-view .div {
  background-color: #ffffff;
  height: 1338px;
  position: relative;
  width: 1440px;
}

.user-business-view .group {
  height: 41px;
  left: 152px;
  position: absolute;
  top: 27px;
  width: 1137px;
}

.user-business-view .logo {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 168px;
}

.user-business-view .img {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.user-business-view .text-wrapper {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  white-space: nowrap;
}

.user-business-view .navbar {
  height: 16px;
  left: 400px;
  position: absolute;
  top: 12px;
  width: 311px;
}

.user-business-view .text-wrapper-2 {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.user-business-view .text-wrapper-3 {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 109px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.user-business-view .text-wrapper-4 {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 183px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.user-business-view .text-wrapper-5 {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 244px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.user-business-view .sign-in {
  height: 41px;
  left: 1052px;
  position: absolute;
  top: 0;
  width: 87px;
}

.user-business-view .overlap {
  height: 41px;
  position: relative;
}

.user-business-view .text-wrapper-6 {
  color: #ffffff;
  font-family: "Sansation-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.user-business-view .overlap-group-wrapper {
  height: 41px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 83px;
}

.user-business-view .overlap-group {
  background-color: #4e7e99;
  border-radius: 50px;
  height: 41px;
  position: relative;
  width: 81px;
}

.user-business-view .text-wrapper-7 {
  color: #ffffff;
  font-family: "Sansation-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.user-business-view .text-wrapper-8 {
  color: #000000;
  font-family: "Sansation-Bold", Helvetica;
  font-size: 28px;
  font-weight: 700;
  left: 151px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.user-business-view .group-2 {
  height: 18px;
  left: 152px;
  position: absolute;
  top: 201px;
  width: 162px;
}

.user-business-view .text-wrapper-9 {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 81px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.user-business-view .star {
  height: 14px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 14px;
}

.user-business-view .star-2 {
  height: 14px;
  left: 15px;
  position: absolute;
  top: 1px;
  width: 14px;
}

.user-business-view .star-3 {
  height: 14px;
  left: 30px;
  position: absolute;
  top: 1px;
  width: 14px;
}

.user-business-view .star-4 {
  height: 14px;
  left: 45px;
  position: absolute;
  top: 1px;
  width: 14px;
}

.user-business-view .star-5 {
  height: 14px;
  left: 60px;
  position: absolute;
  top: 1px;
  width: 14px;
}

.user-business-view .rectangle {
  height: 176px;
  left: 152px;
  object-fit: cover;
  position: absolute;
  top: 250px;
  width: 1137px;
}

.user-business-view .overlap-2 {
  background-color: #f0f0f0;
  height: 376px;
  left: 152px;
  position: absolute;
  top: 435px;
  width: 371px;
}

.user-business-view .there-aren-t-enough {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 103px;
}

.user-business-view .text-wrapper-10 {
  color: #000000;
  font-family: "Sansation-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  white-space: nowrap;
}

.user-business-view .group-3 {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 40px;
  width: 162px;
}

.user-business-view .vector {
  height: 1px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 74px;
  width: 320px;
}

.user-business-view .div-wrapper {
  background-color: #000000;
  border-radius: 5px;
  height: 48px;
  left: 26px;
  position: absolute;
  top: 306px;
  width: 319px;
}

.user-business-view .text-wrapper-11 {
  color: #ffffff;
  font-family: "Sansation-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 106px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.user-business-view .overlap-3 {
  background-color: #f0f0f0;
  height: 376px;
  left: 535px;
  position: absolute;
  top: 435px;
  width: 371px;
}

.user-business-view .lorem-ipsum-dolor {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 59px;
}

.user-business-view .overlap-4 {
  background-color: #f0f0f0;
  height: 376px;
  left: 918px;
  position: absolute;
  top: 435px;
  width: 371px;
}

.user-business-view .mask-group {
  height: 129px;
  left: 24px;
  position: absolute;
  top: 60px;
  width: 324px;
}

.user-business-view .group-4 {
  height: 18px;
  left: 26px;
  position: absolute;
  top: 333px;
  width: 126px;
}

.user-business-view .text-wrapper-12 {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.user-business-view .image {
  height: 18px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 18px;
}

.user-business-view .group-wrapper {
  height: 32px;
  left: 22px;
  position: absolute;
  top: 271px;
  width: 101px;
}

.user-business-view .group-5 {
  height: 32px;
  position: relative;
  width: 103px;
}

.user-business-view .text-wrapper-13 {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}

.user-business-view .mask-group-2 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.user-business-view .group-6 {
  height: 19px;
  left: 26px;
  position: absolute;
  top: 223px;
  width: 196px;
}

.user-business-view .p {
  color: #000000;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.user-business-view .text-wrapper-14 {
  color: #000000;
  font-family: "Sansation-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 152px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 892px;
  white-space: nowrap;
}

.user-business-view .group-7 {
  height: 272px;
  left: 153px;
  position: absolute;
  top: 940px;
  width: 1141px;
}

.user-business-view .overlap-5 {
  background-image: url(./rectangle-12.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 272px;
  left: 0;
  position: absolute;
  top: 0;
  width: 272px;
}

.user-business-view .text-wrapper-15 {
  color: #ffffff;
  font-family: "Sansation-Bold", Helvetica;
  font-size: 28px;
  font-weight: 700;
  left: 8px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 237px;
  white-space: nowrap;
}

.user-business-view .overlap-6 {
  background-image: url(./rectangle-13.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 272px;
  left: 287px;
  position: absolute;
  top: 0;
  width: 272px;
}

.user-business-view .overlap-7 {
  background-image: url(./rectangle-14.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 272px;
  left: 574px;
  position: absolute;
  top: 0;
  width: 272px;
}

.user-business-view .overlap-8 {
  background-image: url(./rectangle-15.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 272px;
  left: 861px;
  position: absolute;
  top: 0;
  width: 272px;
}
